body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  background-repeat: no-repeat;
  background-size: cover;
}
.weatherCont {
  background-color: rgb(0, 139, 139, 0.7);
  border-style: solid;
  border-width: 2px;
  padding: 2em;
  border-radius: 39px;
  width: 100%;
  max-width: 420px;
  height: 400px;
}
input.search {
  border-radius: 20px;
  border-color: black;
  outline: none;
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 230px;
  height: 30px;
  font-size: 17px;
  font-family: "Roboto Mono", monospace;
}
.temp,
h2 {
  display: flex;
  justify-content: center;
}
.condition,
.wind {
  margin-left: 140px;
  position: relative;
  bottom: 60px;
  right: 12px;
}
input,
select,
textarea {
  color: white;
  text-align: center;
}
img.icon {
  position: relative;
  bottom: 67px;
  left: 116px;
}
.day {
  position: relative;
  display: inline-block;
  background-color: white;
  height: 90px;
  width: 75px;
  border-radius: 10px;
  top: 0;
}

p {
  position: relative;
  left: 17px;
}

.day img {
  height: 50px;
  position: relative;
  left: 13px;
  top: 6px;
}
.daysOfWeek p {
  display: inline-block;
  font-size: 12px;
  font-weight: bolder;
}
.monday {
  position: relative;
  left: 24px;
}
.tuesday {
  position: relative;
  left: 80px;
}
.wednesday {
  position: relative;
  left: 129px;
}
.thursday {
  position: relative;
  left: 183px;
}
.friday {
  position: relative;
  left: 237px;
}
.day:hover {
  background-color: aqua;
  top: 12px;
  box-shadow: 0 0 10px black;
  transition: 400ms;
}
.btn {
  position: relative;
  background-color: transparent;
  border-width: 0;
  right: 43px;
  bottom: 2px;
}
i {
  font-size: 17px;
}
i:hover {
  color: white;
  font-size: 18px;
}
